.style-divider {
    background-color: red;
    height: 8px;
    border: none;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

h1 {
    font-size: 150%;
    padding: 16px;
}

h2 {
    font-size: 125%;
}

html {
    margin: 0;
}

#page-content {
    position: relative;
    max-width: 980px;
    margin: auto;
    min-height: 100vh;
}

#page-content>header {

}

#page-content>main {
    padding-bottom: 48px;
}

#page-content>footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    text-align: center;
    font-weight: bold;
}

.title-logo img {
    height: 64px;
}

.error-box {
    color: red;
    padding: 16px 16px;
    margin: 32px;
    background-color: hsl(var(--action-color), var(--action-s), 25%);
    box-shadow: var(--shadow);
}


/* page global */


/* ### Page ### */

#page-content,
#page-content>main {
    background-color: hsl(var(--primary-color), calc(var(--primary-s) - 35%), calc(var(--primary-l) + 35%));
}

html {
    background-color: hsl(var(--primary-color), calc(var(--primary-s) - 30%), calc(var(--primary-l) + 15%));
}

#page-content>header,
#page-content>footer {
    background-color: hsl(var(--primary-color), calc(var(--primary-s) - 25%), calc(var(--primary-l) - 10%));
}


/* ### Content ### */

main {
    background-color: rgb(227, 220, 220);
}

h1,
header {
    background-color: hsl(var(--primary-color), var(--primary-s), var(--primary-l));
}

footer {
    background-color: hsl(var(--primary-color), var(--primary-s), calc(var(--primary-l) - 20%));
    color: white;
}

.hl header {
    background-color: hsl(var(--action-color), var(--action-s), calc(var(--action-l)));
}

.hl main {
    background-color: hsl(var(--action-color), calc(var(--action-s) - 30%), calc(var(--action-l) + 30%));
}
h1.item {
    background-color: rgb(130, 189, 234);
}



/* ### Action items ### */

.main-nav a,
.main-nav a:visited {
    background-color: hsl(var(--secondary-color), var(--secondary-s), calc(var(--secondary-l) - 20%));
    color: white;
}

.main-nav a:hover {
    background-color: hsl(var(--secondary-color), var(--secondary-s), var(--secondary-l));
}

.action {
    background-color: rgb(23, 128, 226);
    color: white;
}

.action:hover {
    background-color: darkblue;
    cursor: pointer;
    color:  white;
}


/* Layout */

/* General */

.align-left {
    text-align: left;
  }
  
  .align-center {
    text-align: center;
    overflow: hidden;
  }
  
  .align-right {
    text-align: right;
  }
  
  .f-left {
    float: left;
  }
  
  .f-right {
    float: right;
  }
  
  .img-thumb {
    display: block;
    max-height: 200px;
    margin: auto;
    object-fit: contain;
  }
  
  .img-large {
    display: block;
    max-width: 400px;
  }
  
  .img-med {
    display: block;
    max-width: 300px;
  }
  
  .img-small {
    display: block;
    max-width: 200px;
  }
  
  .round {
    border-radius: 16px;
    overflow: hidden;
  }
  
  /* Items */
  
  .item {
    box-shadow: var(--shadow);
    border-radius: var(--round);
    overflow: hidden;
  }
  
  .padded > * {
    padding: 8px 16px;
  }
  
  p {
    margin-bottom: 16px;
  }
  
  /* Action items */
  
  .action {
    display: inline-block;
    border: none;
    padding: 8px 16px;
    margin: 4px 8px;
    text-decoration: none;
  }
  
  .cta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  

  /* Section layout */

section {
    margin: 32px;
}

.spaced>* {
    margin-top: 32px;
    margin-bottom: 32px;
}

.full-width {
    margin-left: 0;
    margin-right: 0;
}

.full-width h1 {
    padding: 16px;
}

.narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* Section elements */

main {
    padding-bottom: 32px;
}

.catalog {
    list-style: none;
    padding: 0;
}

.catalog.strips li {
    margin-top: 32px;
    margin-bottom: 32px;
}

.center-float {
    text-align: center;
}

.center-float>* {
    text-align: initial;
}

.catalog.cards {
    margin-left: -16px;
    margin-right: -16px;
}

.catalog.cards::after {
    content: "";
    display: table;
    clear: both;
}

.catalog.cards li {
    float: left;
    width: 284px;
    margin: 16px;
    margin-top: 0;
}

.catalog.cards li>main {
    height: 200px;
    overflow: hidden;
}

.catalog.cards h2 {
    height: 52px;
    overflow: hidden;
}

.catalog.cards footer {
    overflow: hidden;
}

/* Content positioning */

.pad-large {
    padding: 32px;
}

.pad-med {
    padding: 8px 16px;
}

.pad-small {
    padding: 4px 8px;
}

.layout {
    padding: 0;
}

.layout::after {
    content: "";
    display: table;
    clear: both;
}

.layout.large .col {
    width: 400px;
}

.layout.med .col {
    width: 300px;
}

.layout.small .col {
    width: 200px;
}

/* -- Left column */

.layout.left .col {
    float: left;
}

.layout.left.large .content {
    margin-left: 400px;
}

.layout.left.med .content {
    margin-left: 300px;
}

.layout.left.small .content {
    margin-left: 200px;
}

/* -- Right column */

.layout.right .col {
    float: right;
}

.layout.right.large .content {
    margin-right: 400px;
}

.layout.right.med .content {
    margin-right: 300px;
}

.layout.right.small .content {
    margin-right: 200px;
}

/* Forms */

form label {
    display: block;
}

main label input,
main label select {
    width: 200px;
}

.aligned {
    text-align: right;
    display: inline-block;
}

.aligned label>* {
    margin: 8px 16px;
}

.vertical label {
    margin: 16px;
    text-align: center;
}

.vertical label>span {
    display: block;
}

textarea {
    text-align: left;
    display: block;
    width: 100%;
    resize: vertical;
}

:root {
    --primary-color: 120;
    --primary-s: 40%;
    --primary-l: 55%;

    --secondary-color: 240;
    --secondary-s: 40%;
    --secondary-l: 55%;

    --action-color: 300;
    --action-s: 40%;
    --action-l: 55%;

    --round: 0;
    --shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
}